.notification {
  margin-left: 85%;
  margin-top: 20%;
}

.btn-group {
    left: 50%;
}

.top-buffer{
  margin-top: 20px;
}

.about-page{
  position: relative;
  top: -20px;
}

.about-page .jumbotron{
  margin: 0;
  background:rgba(9,69,95,0.8);
  color: white;
  border-radius: 0 !important;
}
.page-header {
  padding-bottom: 1px;
}
.month {
  padding-left: 1%;
}
.details {
  margin-top: 15%;
  width: 1830px;
}
.container {
  width: 1680px;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin-top: 5px;
}
#details {
  width: 1820px;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin-top: 5px;
}
.row .col-lg-1 {
  width:  240px;
  height: 150px;
  border-style: outset;
}
.details .col-lg-1 {
  width:  240px;
  height: 500px;
  border-style: outset;
}
.pull-right {
  float: right;
}

.btn-group {
  margin-right: 100px;
}
/*React apply activeClassName to <a> element, but Bootstrap active class is over <li> element*/
.navbar .nav .active, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  background: #e7e7e7 !important;
  color: #333 !important;
}
